@media (max-width: 414px) {
    body {
        font-size: calc(1vw + 10px);
    }
    #title {
        font-size: calc(2vw + 12px);
    }
    .heading, .heading-win {
        font-size: calc(1.5vw + 10px);
    }
    .moves, .win-s {
        font-size: calc(1.5vw + 10px);
    }
    #game-result {
        font-size: calc(2.5vw + 12px);
    }
}
